<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <title>
      Form Peminjaman Aset
    </title>
    
    
    <div class="container" align = "center">
      <div class="panel panel-primary">
        
        <div class="panel-body">
          <form >
            <h2>
              Form Peminjaman Aset
            </h2>
            <table align="center">
    <h:body>
         <tr>
                  <div class="item text">
                    <td>
                      Nama
                    </td>
                    <td>
                      <div class="field">
                        <input type="text" name="nama" size="40" />
                      </div>
                    </td>
                  </div>
              </tr>

        <tr>
                <div class="item text">
                  <td>
                    Nomor Identitas        
                  </td>
                  <td>
                    <div class="field">
                      <input type="text" name="no_id" size="40"/>
                    </div>
                  </td>
                </div>
              </tr>
              <tr>
                <div class="item text">
                  <td>
                    Nomor Telepon         
                  </td>
                  <td>
                    <div class="field">
                      <input type="text" name="telepon" size="40"/>
                    </div>
                  </td>
                </div>
              </tr>
              <tr>
                <div class="textarea">
                  <td>
                    Alamat    
                  </td>
                  <td>
                    <textarea cols="30" rows="5" name="alamat">
                    </textarea>
                  </td>
                  
                </div>
              </tr>
              
              <tr>
                <div class="item text">
                  <td>
                    E-mail        
                  </td>
                  <td>
                    <div class="field">
                      <input type="text" name="tgl_pjm" size="40"/>
                    </div>
                  </td>
                </div>
              </tr>
              <tr>
                <div class="item text">
                  <td>
                    Aset yang dipinjam         
                  </td>
                  <td>
                    <div id = "show_aset">
                      <select name="nama_aset">
                        <option value="" selected="selected">
                          Laptop
                        </option>
                        <option value="" selected="selected">
                          LCD
                        </option>
                        <option value="" selected="selected">
                          PC
                        </option>
                        <option value="" selected="selected">
                          Sound System
                        </option>
                      </select>
                    
</div>
                  </td>
                </div>
              </tr>
              
              <tr>
                <div class="item text">
                  <td>
                    Kondisi Aset Sebelum dipinjam         
                  </td>
                  <td>
                    <div id = "kondisi_aset">
                      <select name="nama_aset">
                        <option value="" selected="selected">
                          Baik
                        </option>
                        <option value="" selected="selected">
                          Tidak Baik
                        </option>
                      </select>
                    </div>
                    </td>
                  </div>
              </tr>
              <tr>
                <div class="item text">
                  <td>
                    Kondisi Aset Setelah dikembalikan         
                  </td>
                  <td>
                    <div id = "kondisi_aset">
                      <select name="nama_aset">
                        <option value="" selected="selected">
                          Baik
                        </option>
                        <option value="" selected="selected">
                          Tidak Baik
                        </option>
                      </select>
                    </div>
                    </td>
                </div>
                  </tr>
                <tr>
                  <div class="item text">
					<td>
                      <label class="title">
                        <span class="required">
                          Tanggal Peminjaman
                        </span>
                      </label>
                      </td>
                      <td>
                        <p>
                          <input class="large" data-format="yyyy-mm-dd" type="date" name="tanggalpeminjaman" required="required" placeholder="Tanggal Peminjaman"/>
                        </p>
                      </td>
                  </div>
                      </tr>
                      <div class="element-date">
                        
                        
                      </div>
                      <tr>
                        <div class="item text">
                          <td>
                            <label class="title">
                              <span class="required">
                                Tanggal Peminjaman
                              </span>
                            </label>
                          </td>
                          <td>
                            <p>
                              <input class="large" data-format="yyyy-mm-dd" type="date" name="tanggalpeminjaman" required="required" placeholder="Tanggal Peminjaman"/>
                            </p>
                          </td>
                        </div>
                        </tr>
                        <div class="element-date">
                          
                        </div>
                        
                        
                        <tr>
                          <td>
                            
                          </td>
                          <td align ="right">
                            <div class="field">
                              <input type="submit" value="Submit" />
                            </div>
                            
                            </td>
                            
                          </tr>
                  <tr>
					
                      
           
            </tr>
         </h:body>
        </table>
      </form>
    </div>
  </div>
</div>

   
</html>

