body {
    background: #fff url(../image/bg.png) no-repeat scroll;
    background-size: 100% 100%;
    background-attachment:fixed;
}

.formback {
    background: #fff;
}

.transparent-back {
    background-color:rgba(255, 255, 255, 0.7);
}

.page-content {
    padding-top: 48px;
}

.color-list li {
    display: inline-block;
    padding: 10px;
    width: 14.2857%;
}

.prettyprint {
    background-color: #eeeeee;
    border: 0 !important;
    border-width: 1px !important;
    border-color: #eeeeee !important;
    border-left: 8px #555555 solid !important;
}

.prettyprint ol {
    background-color: transparent !important;
}

.prettyprint li {background-color: white !important; list-style-type: decimal !important; padding-left: 1em; border-bottom: 1px #eee solid;}
.prettyprint li:last-child{border-bottom: 0;}
.prettyprint code .tag {
    font-size: .7rem;
}


@media screen and (max-width: 800px) {
    .app-bar.fixed-top {
        position: relative !important;
    }
    .page-content {
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 640px) {
    .page-content {
        padding-top: 32px;
    }
}
